{% extends "base.html" %}

{% block content %}
<div class="board-header">
    <h1>{{ board.title }}</h1>
    <p class="board-description">{{ board.description }}</p>
    
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('create_post') }}" class="button">Create New Post</a>
    {% endif %}
</div>

<div class="posts-container">
    {% for post in posts %}
        {% include 'post_card.html' %}
    {% endfor %}
    
    {% if not posts %}
        <div class="no-posts">
            <p>No posts yet in this board. Be the first to post!</p>
        </div>
    {% endif %}
</div>
{% endblock %}
